<div>
  <div>
    <h2>
      Edit movie
    </h2>

    <form action="/movies/edit<%= @movie.id %>"  method="post" >
      <input type="text" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="_method" value="patch">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @movie.title %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @movie.description %></textarea>
      </div>

      <div>
        <input type="checkbox" id="released_box" name="query_released" value="1" <%= "checked" if @movie.released %>>

        <label for="released_box">
            Released
        </label>
      </div>

      <button>
        Update movie
      </button>
    </form>
  </div>
</div>

<hr>
